Client/Service References/HomeTaxesReference/HomeTaxesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64593/HomeTaxesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" />
  <xs:import schemaLocation="http://localhost:64593/HomeTaxesService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Enums" />
  <xs:element name="GetUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" minOccurs="0" name="GetDictOptionsResult" nillable="true" type="q1:DictOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOborots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Enums" minOccurs="0" name="direction" type="q2:OborotDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOborotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" minOccurs="0" name="GetOborotsResult" nillable="true" type="q3:ArrayOfOborot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOborots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNameId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Enums" minOccurs="0" name="direction" type="q4:OborotDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOborotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" minOccurs="0" name="GetAllOborotsResult" nillable="true" type="q5:ArrayOfOborot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOborot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Enums" minOccurs="0" name="direction" type="q6:OborotDirection" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" minOccurs="0" name="newOborot" nillable="true" type="q7:Oborot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOborotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOborotResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOborot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HomeTaxer.Common.Schemas" minOccurs="0" name="updOborot" nillable="true" type="q8:Oborot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOborotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOborot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oborotId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOborotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>